*.java   text eol=lf
*.kt     text eol=lf
*.sh     text eol=lf
*.gradle text eol=lf
*.yml    text eol=lf
*.md     text eol=lf
*.bat    text eol=crlf
*.cmd    text eol=crlf
/mvnw    text eol=lf
/gradlew text eol=lf
